<div class="demo">
	<canvas width="400" height="300"></canvas>
	<table class="inputs">
		<tr>
			<td><label for="x0">x<sub>0</sub></label></td>
			<td><input type="range" id="x0" name="x0" min="0" max="100" step="1"></td>
		</tr>
		<tr>
			<td><label for="m">m</label></td>
			<td><input type="range" id="m" name="m" min="30" max="100" step="10" value="60"></td>
		</tr>
		<tr>
			<td><label for="k">k</label></td>
			<td><input type="range" id="k" name="k" min="0" max="10" step="1"></td>
		</tr>
	</table>
</div>
<script src="/assets/js/demo.js"></script>
