$black: #0d0d22;
// $brown-dark: #5a4a4a;
$blue-dark: #081239;
$white: #fff;

$pastel: (
	"red": #f92c48,
	"orange": #e16b31,
	"yellow": #ffbf00,
	"green": #07a86a,
	"blue": #65a1ff,
	"sky": #44d6ee,
	"purple": #a691f0,
	"brown": #8c5d46,
	"grey": #8aa7d5
);

$text: $black;
$headings: $blue-dark;
$title: $blue-dark;
$bkgd: blanchedalmond;
$shadow: rgba($black,0.15);
