$mobile: 576px;
$tablet: 768px;
$laptop: 1000px;

@mixin screen($wd) {
	@media screen and (max-width: $wd) {
		@content;
	}
}

%no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
