// base components
@import "colours";
@import "mixins";

* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body, button {
	font-family: 'Exo 2', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	margin: 0;
	color: $text;
}
main {
	min-height: 100vh;
	max-width: 1100px;
	margin: auto;
	padding: 4rem max(5%, 9.5rem);
	text-align: center;

	h1,h2 {
		&:first-child {
			margin-top: 0;
		}
	}
	.title {
		h1 {
			margin: 0;
			color: $title;
		}
		+ hr {
			border: none;
			background: $title;
			height: 2px;
		}
	}
	@include screen($tablet) {
		padding: 4rem;
	}
	@include screen($mobile) {
		padding: 2.6rem;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Bitter', serif;
	font-weight: 500;
	color: $headings;
	font-size: 1.75rem;
}
h1 {
	font-size: 3rem;
}
h2 {
	margin: 0;
}
