@import "../colours";

.background {
	$bkgd-op: rgba($bkgd, 0.8);
	background: linear-gradient(0deg, $bkgd-op, $bkgd-op), url('/assets/img/winter-tree.jpg') {
		size: cover;
		position: center;
		repeat: no-repeat;
	};
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}
