@import "colours";

.box {
	$mar: 0.4rem;

	background-color: rgba($white, 0.2);
	// border: 1px solid $shadow;
	border-radius: 4px;
	box-shadow: 0 4px 7px $shadow;

	padding: 1.5rem 2rem;
	margin: 2rem 0;

	position: relative;

	> h1, > h2, > h3, > h4 {
		&:first-child {
			margin-top: $mar;

			+ p {
				margin: 1rem 0;				
			}
		}
	}
	&.title h1 {
		margin-bottom: 0;
		font-size: 2.5rem;
	}
	p {
		font-size: 1.1rem;
		line-height: 1.5;
	}
	p:last-child {
		margin-bottom: $mar;
	}
}
