.demo {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2rem;

	div:nth-child(1) {
		position: relative;

		#pt-0 {
			font-family: serif;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	table {
		margin-top: 2.5rem;
		margin-bottom: 1rem;

		td:last-child {
			text-align: left;
		}
		.inputs {
			label {
				padding-right: 0.25rem;
				text-align: center;
			}
		}
		.br {
			height: 1rem;
		}
		.outputs {
			td[data-units] {
				&::before {
					content: " =";
					margin-right: 7px;
				}
				&::after {
					content: attr(data-units);
					margin-left: 5px;
				}
			}
		}
	}
	// .outputs {
	// 	display: none;
	// }

	}
}
