@import "../utils";

.demo {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2rem;

	div:nth-child(1) {
		position: relative;

		#pt-0 {
			font-family: serif;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	table {
		margin-top: 2.5rem;
		margin-bottom: 1rem;

		td:last-child {
			text-align: left;
		}
		.inputs {
			label {
				padding-right: 0.25rem;
				text-align: center;
			}
		}
		.br {
			height: 1rem;
		}
		.output.undamped {
			td[data-units] {
				&::before {
					content: " =";
					margin-right: 7px;
				}
				&::after {
					content: attr(data-units);
					margin-left: 5px;
				}
			}
		}
	}

	.output.damped {
		margin: 1rem 0;
	}

	@include screen($laptop) {
		flex-flow: column nowrap;

		table {
			margin-top: 0;
		}
		tbody {
			display: flex;
			flex-flow: row wrap;

			tr {
				flex-basis: 50%;
			}
			&.output.undamped tr {
				flex-basis: unset;
				margin-right: 1.25rem;
			}
		}
		.inputs td:first-child {
			width: 20px;
		}
		#damper {
			margin-left: 0;
		}
	}

	@include screen($mobile) {
		tbody tr {
			flex-basis: unset;
		}
	}
	.presets {
		display: flex;
		flex-direction: column;

		$gap: 2px;

		button {
			overflow-wrap: break-word;
			text-transform: uppercase;

			color: #5e5953;
			background-color: #E1CBBABA;
			outline: none;
			border: none;
			border-radius: 2px;

			margin: $gap 0;
			cursor: pointer;

			&:hover {
				background-color: #B7A292BA;
			}
		}
		@include screen($laptop) {
			flex-direction: row;
			justify-content: space-between;

			button {
				flex-basis: calc((100% / 3) - #{$gap});
			}
		}
	}
	summary {
		text-align: left;
		margin-bottom: 7px;
		@extend %no-select;
	}
}
