@import "../utils";

.demo {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2rem;

	div:nth-child(1) {
		position: relative;

		#pt-0 {
			font-family: serif;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	table {
		margin-top: 0.5rem;
		margin-bottom: 1rem;

		td:last-child {
			text-align: left;
		}
		.inputs {
			label {
				padding-right: 0.25rem;
				text-align: center;
				font-size: 1.2rem;

				sub {
					font-size: 60%;
				}
			}

			.bounds {
				display: flex;
				justify-content: space-between;
				font-size: small;
				color: grey;
			}
			td:first-child {
				vertical-align: text-top;
				position: relative;
			}
			td:last-child {
				padding-top: 3px;
			}

			input[type="range"] {
				height: 5px;
				background: #7d746c3d;
				margin-bottom: 3px;

				&::-moz-range-track {
				}
				&::-webkit-slider-thumb,
				&::-moz-range-thumb {
					background: $brown-desat;
					border-radius: 3px;
					width: 5px;
					height: 18px;
					border: none;
				}
			}
		}
		input[type="checkbox"] {
			filter: sepia(50%) hue-rotate(184deg);
			margin-left: -1px;
		}
		.br {
			height: 1rem;
		}
		.output.undamped {
			td[data-units] {
				&::before {
					content: " =";
					margin-right: 7px;
				}
				&::after {
					content: attr(data-units);
					margin-left: 5px;
				}
			}
		}
	}

	.output.damped {
		margin: 1rem 0;
	}

	@include screen($laptop) {
		flex-flow: column nowrap;

		table {
			margin-top: 0;
		}
		tbody {
			display: flex;
			flex-flow: row wrap;

			tr {
				flex-basis: 50%;
			}
			&.output.undamped tr {
				flex-basis: unset;
				margin-right: 1.25rem;
			}
		}
		.inputs td:first-child {
			width: 20px;
		}
		#damper {
			margin-left: 0;
		}
	}

	@include screen($mobile) {
		tbody tr {
			flex-basis: unset;
		}
	}
	.presets {
		display: flex;
		flex-direction: column;

		$gap: 4px;

		button {
			overflow-wrap: break-word;
			text-transform: uppercase;

			color: #2D3846;
			background-color: rgba(#bdb6ab, 0.6);
			outline: none;
			border: 1px solid rgb(200, 188, 184);
			border-radius: 6px;

			margin: $gap 0;
			padding: 4px;
			cursor: pointer;

			&:hover {
				background-color: rgba($brown-desat, 0.6);
			}
		}
		@include screen($laptop) {
			flex-direction: row;
			justify-content: space-between;

			button {
				flex-basis: calc((100% / 3) - #{$gap});
			}
		}
	}
	details {
		margin-top: 1.3rem;
	}
	summary {
		text-align: left;
		margin-bottom: 7px;
		color: darken(#8A8483, 6%);
		@extend %no-select;
	}
}
